/*
#  ····················__····_·__···
#  ···____·___··____··/·/_··(_)·/__·
#  ··/·__·`__·\/·__·\/·__·\/·/·/·_·\
#  ·/·/·/·/·/·/·/_/·/·/_/·/·/·/··__/
#  /_/·/_/·/_/\____/_.___/_/_/\___/·
#  ································· */

@media screen and (max-width: 768px) {
    .main_section-title {
    font-size: 25px;
  }
  
  .products {
    display: inherit;
    height: auto;
  }
  
  .product {
    margin-top: 40%;
  }
  
  .main_section {
    padding: 4%;
  }
  
  .feature__box, .mentions__box_profile {
    flex-direction: column;
    align-items: center;
  }
  
  .feature__box-individual, .mentions__box_profile-profile {
    width: 80%;
  }
  
  .mentions, .feature {
    width: 100%;
    margin-top: 50px;
  }
  
  .feature__box-individual, .mentions__box_profile-profile {
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 600px) {
  .img_content img {
    width: 100%;
    height: auto;
  }
}
